button.run-code-button {
    display: none;
    color: var(--text-muted);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    padding: 5px 20px 5px 20px;
	z-index: 100;
}

button.clear-button {
    display: none;
    color: var(--text-muted);
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px;
    padding: 5px 20px 5px 20px;
	z-index: 100;
}

pre:hover .run-code-button, pre:hover .clear-button {
	display: block;
}

pre:hover .run-button-disabled, pre:hover .clear-button-disabled {
	display: none;
}

.run-button-disabled, .clear-button-disabled {
	display: none;
}

code.language-output span.stdout {
	color: var(--text-muted);
}

code.language-output span.stderr {
	color: red;
}

code.language-output hr {
	margin: 0 0 1em;
}

.settings-code-input-box textarea, .settings-code-input-box input {
    min-width: 400px;
	min-height: 100px;
    font-family: monospace;
    resize: vertical; 
}

input.interactive-stdin {
    font: inherit;
}
.manage-executors-view h3 {
    margin: 1em;
}

.manage-executors-view ul {
    margin: 1em;
    padding: 0;
    list-style-type: none;
}

.manage-executors-view ul li {
    padding: 0.5em;
    background: var(--background-primary-alt);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.manage-executors-view small {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1ch;
}

.manage-executors-view li:hover button {
    position: absolute;
    right: 0.25em;
    top: 0.25em;
    height: 100%;
}

.manage-executors-view li:hover button {
    display: block;
}

.manage-executors-view>div {
    position: relative;
}

.manage-executors-view .empty-state {
    color: var(--text-muted);
    padding: 0.5em;
}